---
import Click from '~/javascript/controls.astro';
import Address from '~/javascript/address.astro';
import Feed from '~/javascript/feed.astro';
---

<section class="relative md:-mt-[76px] not-prose">

	<div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>

		<div class="relative max-w-7xl mx-auto">

		<div class="pt-0 md:pt-[120px] pointer-events-none"></div>

			<div class="terminal">

				<div class="window-controls">

					<div class="window-controls">

						<div class="control close"></div>

						<div class="control minimize"></div>

						<div class="control maximize"></div>

					</div>

					<p id="user-ip">Đang lấy địa chỉ</p>

				</div>

				<div class="command-content">

					<p class="command-line" id="output"></p>

				</div>

			</div>

			<Click/>

			<Address/>

			<Feed/>

	</div>

</section>