---
import SEO from '~/components/schema.astro';
import Anti from '~/components/anticopy.astro';

import '~/assets/tailwind.css';
---

<!DOCTYPE html>

<html lang="vi">

	<head>

		<SEO/>

	</head>

	<body class="antialiased text-default bg-page tracking-tight">

		<slot/>

		<Anti/>

		<noscript>

			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN6L7TJP"
			
				height="0" width="0" style="display:none;visibility:hidden">

			</iframe>

		</noscript>

		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>

	</body>

</html>